\version "2.14.2"

%(voices)s

\paper  {
  print-page-number = ##f
}

\header {
  poet = "%(author)s"
  title = \markup { "%(lyrictitle)s" }
  instrument = \markup { \smallCaps "%(title)s (%(meter)s)" }
  composer = "%(composer)s"
  tagline = ""
}

\score
{
  <<
    \new StaffGroup {
      <<
	\new Staff = "treble" {
	  <<
	    \clef treble
	    \new Voice = "exportedvoice_soprano" {
	      \stemUp \slurUp \tieUp %(partial)s  \exportedvoice_soprano_music
	    }
    	    %(soprano_lyrics)s
	    \new Voice = "exportedvoice_alto" { \stemDown \slurDown \tieDown  \exportedvoice_alto_music }
    	    %(alto_lyrics)s
	  >>

	}
	\new Staff = "bass" {
	  \clef bass
	  <<
	    
	    \new Voice = "exportedvoice_tenor" { \stemUp \slurUp \tieUp  \exportedvoice_tenor_music }
    	    %(tenor_lyrics)s
	    \new  Voice = "exportedvoice_bass" { \stemDown \slurDown \tieDown \exportedvoice_bass_music }
    	    %(bass_lyrics)s	    
	  >>
	}

      >>
    }
    
  >>

  \layout {
    \context {
    }
    \context {
      \Lyrics
      \override LyricText #'font-size = #-1
    }
    \context {
      \Score
      \remove "Bar_number_engraver"
    }
    indent = 0 \cm
  }
  \midi { }
}